#container formstyle {
    background-color: blue;
}

.formstyle {
    padding-top: 20px;
    border: 1px solid cyan;
    padding-bottom: 20px;
    margin: 20px;
}

input[type="text"],
input[type="number"],
input[type="email"] {
    border: 1px solid cyan;
}

textarea.form-control {
    border: 1px solid cyan;
}

button.btn.btn-primary {
    text-align: center;
}